<footer>
  <div class="grid">
    <div class="unit align-center center-on-mobiles">
    
    <p>Power By <a href = 'https://pages.github.com/'>Github pages</a>,the web template is based on <a href="https://github.com/pkuwwt/pkuwwt.github.com/">pkuwwt</a>'s page.</p>
		<!--<a href="{{ site.baseurl }}/feed.xml"><img src="{{ site.baseurl }}/img/rss.gif" alt="RSS"></a> 

      <p>
        Proudly hosted by
        <a href="https://github.com">
          <img src="{{ site.baseurl }}/img/footer-logo.png" alt="GitHub • Social coding">
        </a>
      </p>
  -->
    </div>
  </div>
</footer>
<script src="../../js/jquery-2.1.1.min.js" charset="utf-8"></script>
