<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  
<meta name="google-site-verification" content="PRUdAOYVXOwY6nDXaG__VSF2OyaqMxF81krWBKCOF94" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/pygments.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/gridism.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css" />
  
  <!--<link rel="stylesheet" href="{{ site.baseurl }}/css/pygments.css" />-->
  <!--<link rel="stylesheet" href="{{ site.baseurl }}/css/i.css" /> -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

  <script src="../../js/jquery-1.10.2.min.js" charset="utf-8"></script>
  <script type="text/x-mathjax-config">
MathJax.Hub.Config({
      tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
      },
      TeX: { 
     equationNumbers: {  autoNumber: "all"  },
     extensions: ["AMSmath.js","color.js"]
      }
});
</script>

<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</head>
